<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="tachemanage">Authentification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tachemanage">Taches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="users">Utilisateurs</a>
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    Vous etes connecté depuis {{secondes}} secondes.
  </div>
</nav>

<div class="container">
  <div class="card bg-light mb-5" style="max-width: 50%">
    <div class="card-header" [ngStyle]="{color:getTitleColor()}" >App Component</div>

    <div  *ngIf="afficherTitre"><img width="100%" height="20" src="assets/img/ligne_deco.jpg"></div>
    <div class="card-body">
      <div class="container">
          <button *ngIf="estAuthentifie()" routerLinkActive="btn-primary text-bold" #rla1=routerLinkActive type="button" routerLink="/tachemanage" [ngClass]="rla1.isActive ? 'btn btn-primary' : 'btn btn-secondary'" [disabled]="!menuActif">Info User</button>
          <button *ngIf="estAuthentifie()" routerLinkActive="btn-primary text-bold" #rla2=routerLinkActive type="button" routerLink="/comments" [ngClass]="rla2.isActive ? 'btn btn-primary' : 'btn btn-secondary'"  [disabled]="!menuActif">Commentaires</button>
        <p></p>
          <router-outlet id="">
          </router-outlet>
      </div>
    </div>
  </div>
</div>
